.context {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-image: url("/imgs/fondocontex.png");

    &__section {
        width: 50%;
        margin-top: 171px;
        margin-left: 194px;
    }

    &__title {
        color: #2d9cdb;
    }

    &__subtitle {
        color: #2d9cdb;
    }

    &__btnposition {
        color: white;
    }

    &__btn {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 1.3em;
        line-height: 36px;
        margin-top: 235px;
        margin-left: 1635px;
        margin-block-end: 58px;

        color: white;
        border-radius: 30px;
        background-color: #2d9cdb;
        padding: 10px 50px;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 #1F76A7;
        transition: ease-out 0.3s;

        border: none;
        outline: none;
    } 

    &__btn:hover{
        box-shadow: inset 300px 0 0 0 #1F76A7;
        cursor: pointer;
        color: white;
    }
}
